.tuandui-zengyi {
  padding-top: 8px;
}

.tuandui-zengyi-checkbox {
  font-size: 14px;
}

.tuandui-zengyi-btn {
  width: 100%;
  height: 40px;
  color: #ED4F00;
  border-color: #ED4F00;
}

.tuandui-zengyi-btn:hover,
.tuandui-zengyi-btn:focus {
  color: #fa7528;
  border-color: #fa7528;
}

.tuandui-zengyi-btn-wrap {
  padding-top: 18px;
  text-align: right;
}

.tuandui-zengyi-detail-modal .ant-modal-body{
  max-height: calc(100vh - 108px - 48px);
  padding: 12px 24px 36px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.tuandui-zengyi-detail-item {
  width: calc(50% - 12px);
  margin-bottom: 8px;
}

.tuandui-zengyi-detail-item.tuandui-zengyi-detail-item-100 {
  width: 100%;
}

.tuandui-zengyi-detail-item:not(.tuandui-zengyi-detail-item-100) .tuandui-zengyi-content-item {
  width: 100%;
}

.tuandui-zengyi-detail-title {
  font-size: 14px;
  color: var(--ant-primary-color);
  margin-bottom: 8px;
}

.tuandui-zengyi-detail-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tuandui-zengyi-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 12px);
}

.tuandui-zengyi-content-item-title {
  display: block;
  width: 52px;
}

.t-z-c-content {
  flex: 1;
}