.zhenyan-option .ant-select-item-option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-select-selection-item .zhenyan-baifenbi {
  display: none;
}

.zhenyan-baifenbi {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85)
}

.zhenyan-up {
  color: #2AC88F
}

.zhenyan-down {
  color: #F34242;
}