.wucaishi-wrap {
  width: 100%;
}

.wucaishi-xuanze-wrap .wucaishi-xuanze {
  width: calc(100% - 70px);
}

.wucaishi-xuanze-wrap .wucaishi-xuanze-dengji {
  width: 70px;
}

.wucaishi-xuanze-wrap {
  display: flex;
}

.wucaishi-value {
  margin-top: 12px;
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0 11px;
  text-align: center;
}

.wucaishi-value-5 {
  color: #f90;
}

.wucaishi-value-6 {
  color: #ff2dff;
}