.wucaishi-wrap {
  width: 100%;
}

.wucaishi-xuanze {
  margin-bottom: 12px;
}

.wucaishi-value {
  margin-top: 12px;
  font-size: 16px;
  line-height: 30px;
  color: #ff2dff;
  border: 1px solid #d9d9d9;
  padding: 0 11px;
  text-align: center;
}