.xiangqian-select-wrap {
  display: flex;
  width: 280px;
  justify-content: flex-start;
}

.xiangqian-item {
  display: flex;
  align-items: center;
  width: 90px;
}

.xiangqian-item + .xiangqian-item{
  margin-left: 8px;
}

.xiangqian-label {
  display: inline-block;
  white-space: nowrap;
  margin-right: 8px;
}

.xiangqian-select.ant-select.ant-select-in-form-item {
  width: 52px;
}