.dps {
  width: calc(100vw - 348px - 36px - 36px);
  /* display: flex; */
  background-color: rgba(8, 18, 43, 0.7);
  color: #fff;
  padding: 24px;
  border-radius: 4px;
  transition: width .2s;
}

.dps.dps-zengyi-visible {
  width: calc(100vw - 348px - 400px - 36px - 36px);
}

.dps .ant-divider {
  margin: 16px 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.dps-title {
  font-size: 16px;
  color :#fff;
  margin: 0;
}

.dps-number-count {
  padding: 16px 0 8px;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: flex-end;
}

.dps-number-tip {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 8px;
}

.dps-income-tip {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.dps-number-count-text {
  font-size: 64px;
  line-height: 1;
  font-weight: 900;
}

.dps-number-count-skill {
  color: #ED4F00;
  margin-left: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.dps-number-count-skill:hover {
  color: #fa7528;
}
