.zhuangbei-input-set-modal .ant-form-item {
  margin-bottom: 12px;
}
.zhuangbei-input-set-modal .ant-modal-body {
  padding: 16px 24px;
}

.zhuangbei-input-set-modal .ant-form-item-label {
  display: inline-block;
  text-align: right;
}

.zhuangbei-input-set-modal .ant-modal-content {
  min-width: 1224px;
  min-height: 116px;
  max-height: calc(100vh - 32px);
  overflow-y: auto;
}

.zhuangbei-input-set-modal .ant-form-item.jisuan {
  text-align: right;
  margin-bottom: 0;
}

.zhuangbei-select {
  display: flex;
}

.zhuangbei-form-header {
  display: flex;
  margin-bottom: 8px;
}

.zhuangbei-form-title {
  font-size: 16px;
  color: var(--ant-primary-color);
  font-weight: 700;
  margin: 0;
}

.zhuangbei-form-left-1 {
  width: 340px;
}

.zhuangbei-form-left-2 {
  width: 64px;
}

.zhuangbei-form-left-3 {
  width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.zhuangbei-form-left-4 {
  width: 136px;
  padding-left: 16px;
}

.zhuangbei-form-left-5 {
  width: 80px;
}

.zhuangbei-form-left-6 {
  width: 100px;
  padding-left: 8px;
}

.zhuangbei-form-set-btn{
  margin-left: 8px;
}

.zhuangbei-input-set-modal-form {
  display: flex;
}

.zhuangbei-input-set-modal-form-left {
  width: 820px;
}

.zhuangbei-set-dafumo-wrapper {
  width: 80px;
}

.zhuangbei-input-set-modal-form-right {
  width: calc(100% - 820px - 80px);
  padding-left: 10px;
  position: relative;
}

.zhuangbei-input-set-modal-form-qianglv {
  position: absolute;
  top: -37px;
  right: 0px;
}

.dps-diff-item {
  margin-bottom: 16px;
}

.dps-diff-item + .dps-diff-item {
  margin: 0;
}

.dps-diff {
  padding-top: 16px;
}

.dps-diff-title,.time-label-title,.zhuangbei-zengyi-title {
  font-size: 14px;
  color: var(--ant-primary-color);
  font-weight: 700;
  margin-bottom: 6px;
}

.dps-diff-dps {
  font-size: 28px;
  margin-bottom: 0;
  padding: 8px 0;
  line-height: 28px;
  color: #666;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 8px;;
}

.dps-diff-dps.dps-diff-up {
  color: #2AC88F;
}

.dps-diff-dps.dps-diff-down {
  color: #F34242;
}

.time-label {
  border: 1px solid #d9d9d9;
  padding: 6px 0;
  display: flex;
  justify-content: space-around;
}

.zhuangbei-zengyi-wrapper {
  margin-bottom: 12px;
}

.zhuangbei-zengyi-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.zhuangbei-input-peizhuangtuijian {
  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
}

.zhuangbei-input-set-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zhuangbei-input-set-modal-title .ant-btn + .ant-btn {
  margin-left: 8px;
}