.layout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  padding: 36px;
  background: var(--ant-primary-color);
}
