.zengyi-wrapper {
  width: 400px;
  padding: 0 0 16px 12px;
  margin-left: 12px;
  min-height: calc(100vh - 114px);
  border-left: 1px solid #f0f0f0
}

.zengyi-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

.zengyi-title-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--ant-primary-color);
}

.zengyi-title-tip {
  font-size: 12px;
  margin-left: 12px;
  color: #f90;
}

.zengyiqiyong {
  height: 32px;
  line-height: 32px;
  margin-bottom: 8px;
}

.xuanze-zhenyan .ant-select{
  width: 100%;
}