.tuandui-zengyi-detail-modal .ant-drawer-body {
  /* max-height: calc(100vh - 108px - 48px); */
  /* padding: 12px 24px 24px; */
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tuandui-zengyi-detail-modal .ant-drawer-body .ant-collapse-header-text {
  color: var(--ant-primary-color);
  font-size: 16px;
  font-weight: 700;
}

.tuandui-zengyi-detail-modal .ant-drawer-body .ant-collapse-borderless>.ant-collapse-item {
  border-bottom: 1px solid rgba(3, 10, 26, 0.06);
}

.tuandui-zengyi-panel .ant-collapse-content .ant-collapse-content-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  padding-bottom: 0;
}

.tuandui-zengyi-detail-item {
  width: calc(50% - 16px);
  /* margin-bottom: 8px; */
  border: 1px solid rgba(3, 10, 26, 0.12);
  border-radius: 4px;
  margin: 0 8px 16px 8px;
}

.tuandui-zengyi-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #fff;
  transition: .2s;
}

.tuandui-zengyi-checkbox:hover {
  background-color: var(--ant-primary-color-active-deprecated-f-30);
}

.tuandui-zengyi-checkbox-item {
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.tuandui-zengyi-detail-item .ant-checkbox {
  margin-top: -4px;
}

.tuandui-zengyi-detail-item.tuandui-zengyi-detail-item-100 {
  width: 100%;
}

.tuandui-zengyi-detail-item:not(.tuandui-zengyi-detail-item-100) .tuandui-zengyi-content-item {
  width: 100%;
}

.tuandui-zengyi-detail-title {
  font-size: 14px;
  color: var(--ant-primary-color);
  margin-bottom: 0px;
  margin-left: 12px;
}

.tuandui-zengyi-detail-title.tuandui-zengyi-detail-title-disabled {
  color: rgba(3, 10, 26, 0.45);
}

.tuandui-zengyi-detail-title-disabled-tip {
  color: #ff7979;
  font-size: 12px;
  margin-left: 8px;
}

.tuandui-zengyi-detail-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 8px;
  margin: 0 -6px;
}

.tuandui-zengyi-detail-divider {
  margin: 0px 0 8px;
}

.tuandui-zengyi-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 12px);
  margin: 0 6px;
}

.tuandui-zengyi-content-item-title {
  margin-right: 8px;
}

.t-z-c-content {
  flex: 1;
}

.tuandui-zengyi-collapse {
  width: 100%
}