.skill-dmage-wrapper{
  position: fixed;
  top: 0;
  right: calc(36px + 120px);
  color: #fff;
  margin: 0;
  text-align: right;
}

.skillDamageTable th {
  white-space: nowrap;
}

.skillDamageBtn {
  opacity: 0;
  cursor: pointer;
  color:#fff;
  line-height: 36px;
  font-size: 14px;
  transition: .2s;
}

.skillDamageBtn:hover {
  opacity: 1;
}

.skillDamageTable th.keyTable-1.ant-table-cell {
  background-color: #40a9ff;
  color: #fff;
}

.skillDamageTable th.keyTable.ant-table-cell {
  background-color: #2AC88F;
  color: #fff;
}

.skillDamageTable .ant-table-thead>tr>th,
.skillDamageTable .ant-table-tbody>tr>td {
  padding: 4px 8px;  
  white-space: nowrap;
}