.zengyi-xiaochi-xuanze {
  padding-top: 8px;
}

.zengyi-xiaochi-item {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.zengyi-xiaochi-title {
  width: 60px;
  font-size: 14px;
  margin-right: 4px;
  margin-bottom: 0;
}

.zengyi-xiaochi-select {
  flex: 1;
}