.income-line {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  height: 40px;
  line-height: 24px;
  padding: 8px 0;
}

.income-name {
  width: 50px;
  text-align: right;
  margin-right: 8px;
}

.income-number {
  width: calc(100% - 50px - 8px - 8px);
  position: relative;
  text-align: left;
  color:#fff;
}

.income-number-text {
  position: absolute;
  left: 8px;
  top: 0;
  z-index: 2;
}

.income-percent {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  z-index: 1;
  background: #2AC88F;
}