.zhuangbei-character-show {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 16px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin-bottom: 12px;
}

.zhuangbei-character-item {
  width: 50%;
  display: flex;
  height: 24px;
}

.zhuangbei-character-item-last {
  width: 100%;
  padding-right: 58px;
}

.zhuangbei-character-item:nth-child(-n+8) {
  margin-bottom: 8px;
}

.zhuangbei-character-label {
  width: 40px;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  /* color: var(--ant-primary-color); */
  margin: 0;
}

.zhuangbei-character-content {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  overflow: hidden;
  line-height: 24px;
  text-align: right;
}

.zhuangbei-character-content-normal {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
}

.zhuangbei-character-content-normal.zhuangbei-character-content-upper {
  color: #2AC88F;
}

.zhuangbei-character-content-normal.zhuangbei-character-content-down {
  color: #F34242;
}

.zhuangbei-character-max-title-tip {
  font-size: 14px;
  color: #666;
  margin-left: 8px;
}