.cache-wrapper {
  position: fixed;
  bottom: 0;
  right: 36px;
  margin: 0;
  line-height: 36px;
  font-size: 14px;
  text-align: right;
}

.cache-btn {
  transition: .2s;
  color: #fff;
  cursor: pointer;
  margin-left: 16px;
}

.cache-btn:hover {
  color: #ddd;
}